body {
  margin: 0;
}
nav {
  width: 100%;
  height: 90px;
  background-color: skyblue;
}
img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 100%;
}
h1 {
  position: relative;
  left: 25px;
  top: -25px;
  display: inline-block;
  font-size: 30px;
}
a {
  position: relative;
  display: inline-block;
  left: 25%;
  word-spacing: 80%;
  top: -30px;
  font-size: larger;
  background-color: skyblue;
  padding: 5px;
  margin: 10px;
  border-radius: 15%;
}

.footer {
  background-color: skyblue;
  color: black;
  text-align: left;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  margin-left: 0%;
}

a {
  text-decoration: none;
}
.home {
  background-color: #62c1e5;
  transition: background-color 0.3s ease;
}

.home.active {
  background-color: steelblue;
}

a {
  text-decoration: none;
}
